# Python
__pycache__/
*.py[cod]
*.so

# Environments
venv/
myenv/
.env
.env.*

# Data and outputs
data/
output/
*.h5
*.pkl
*.joblib

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Git LFS / large files
*.pt
*.ckpt
